<br>

<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="total-rules">
        <div class="card-header">
          <h5 class="card-title">Total Rules</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{total_rules}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="total-rulepackets">
        <div class="card-header">
          <h5 class="card-title">Total Rule Packets</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{total_rulepackets}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="total-rulestores">
        <div class="card-header">
          <h5 class="card-title">Total Rule Stores</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{total_rulestores}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>
