{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'images/logo.png' %}" alt="" height="25">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'entity_rulestores' %}">RuleStores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'entity_rules' %}">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'entity_rulepackets' %}">Rule Packets</a>
      </li>
    </ul>
  </div>
</nav>
